#app {
    font-family: 'Montserrat', sans-serif;
}

.navbar-edit {
    z-index: 999;
}

.bg-edit {
    background-image: url('../images/borobudur.jpg');
    background-size: cover;
    padding: 5rem;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.img {
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #51ad3a;
}

.card-product {
    border-radius: 15px;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.breadcumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: black;
}

.img-fluid {
    border-radius: 15px;
}
